@font-face {
    font-family: rokkitt;
    src: url(../fonts/rokkitt/Rokkitt-Bold.otf);
}



.container-fluid {
    padding: 0 !important;
}

.navbar-nav {
    font-family: rokkkitt;
    float: right !important;
    font-size: 1.5em;
    font-variant: small-caps;

}

a {
    color: white !important;

}

/*****************************/


.wrapper {
    position: relative;
}
.header_title {
    position: absolute;
    left: 30%;
    top: 40%;
    font-family: rokkitt;
    font-size: 5.5em;
    color: white;

}

#header_subtitle {
    left: 15%;
    top: 55%;
    font-family: rokkitt;
    font-size: 0.5em;
    color: white;

}
